header {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  
    background-color: #fff;
    height: 180px;
    margin: 0;
}

#headerLogoLink {
  padding: 0 20px;
  margin: 0;
}

#aboutLink {
  text-decoration: none;
  padding: 0 20px;
  margin: 0;
  color: black;
}

#aboutHeader {
  width: 120px;
  font-size: 2em;
}

#headerLogoImage {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/logo.png');
  background-size: cover;
  background-position: center center;
  height: 80px;
  width: 80px;
  margin: 0;
}

#headerTitle {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  header {
    height: auto;
  }

  #headerTitle {
    font-size: 48px;
  }

  #headerLogoImage {
    height: 40px;
    width: 40px;
  }

  #aboutLink {
    padding: 0 0;
  }  

  #aboutHeader {
    width: 80px;
    font-size: 1.2em;
  }
}