#latestPostsContainer {
    position: relative;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.latestPostsRow {
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    height: 3.5em;
    text-decoration: none;
    color: black;
    margin: 0 12px;
}

.latestPostsMonth {
    flex-shrink: 0;
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: normal;
    line-height: 1.5em;
    font-size: 1.5em;
    text-align: left;
    letter-spacing: 0.1em;
    width: 2em;
}

.latestPostsDate {
    flex-shrink: 0;
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: bold;
    line-height: 0.8em;
    font-size: 2em;
    text-align: left;
    letter-spacing: 0.1em;
    width: 1em;
    margin-right: 0.2em;
}

.latestPostsDescription {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    line-height: 2em;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-align: left;
}

#latestPostsReadMore {
    display: flex;
    margin: 0.5em;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

#blogPostsReadMore {
    display: flex;
    margin: 0.5em;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 600px) {
    .latestPostsDescription {
        font-size: 0.8em;
    }
}
