#latestPostsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 20px;
}

.latestPostsRow {
    display: flex;
    flex-direction: row;
    margin: 12px;
    height: 2em;
    text-decoration: none;
    color: black;
}

.latestPostsMonth {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: normal;
    line-height: 1.5em;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 0.1em;
    width: 2em;
}

.latestPostsDate {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: bold;
    line-height: 0.8em;
    font-size: 2em;
    text-align: center;
    letter-spacing: 0.1em;
    width: 1em;
    margin-right: 0.5em;
}

.latestPostsDescription {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    line-height: 2em;
    font-size: 1em;
    letter-spacing: 0.1em;
    height: 100%;
}

#latestPostsReadMore {
    display: flex;
    margin: 0.5em;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}
