#map {
  position: relative;
  width: 100%;
  height: 0px;
  padding-bottom: 40%;
  overflow: hidden;
}

#desktopMap {
  display: block;
}

#mobileMap {
  display: none;
}

#mapOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(229, 229, 229, 1);
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

#mapDetailContainer {
  position: relative;
  width: 100%;
  height: calc(100% - 4em);

  display: flex;
  flex-direction: row;
}

#mapDetailPage {
  position: absolute;
  height: 100%;
  width: 100%;

  top: 100%;
  transition-property: top;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

#mapDetailBack {
  position: relative;
  height: 2em;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: lowercase;
  color: #3E3E3E;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

#mapDetailBack:focus {
  outline: none;
}

#detailPageTextContainer {
  background-color: white;
  opacity: 0.7;

  display: flex;
  flex-direction: column;
  width: 50%;

  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 3%;
  min-width: 50%;
}

#detailPageImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#detailPageImage {
  position: relative;
  width: 88%;
  left: 6%;
}

.slick-list {
  height: 100%;
}

.slick-list div {
  height: 100%;
}

.slick-slider {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 32px;
}

.CountryButton {
  position: absolute;
  background: none;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  color: white;
  transition-property: left right top bottom width height opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  outline: 0;
}

.CountryButton div {
  display: none;
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 2em;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #384B58;
  transition-property: div;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  padding: 4px;
}

.CountryButton:hover div {
  display: inline;
}

#iceland {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/iceland.png');
  left: 32%;
  width: 25%;
  /* 25 * 327/472 * 2.5 */
  height: 43.2997881356%;
  top: 5%;
}

#iceland:hover {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/icelandDown.png');
}

#uk {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/uk.png');
  left: 58%;
  width: 15%;
  /* 15 * 385/284 * 2.5 */
  height: 50.8362676056%;
  top: 0%;
}

#uk:hover {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/ukDown.png');
}

#pnw {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/pnw.png');
  left: 14%;
  width: 14%;
  /* 14 * 417/317 * 2.5 */
  height: 46.0410094637%;
  top: 4%;
}

#pnw:hover {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/pnwDown.png');
}

#france {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/france.png');
  left: 40%;
  width: 25%;
  /* 25 * 399/444 * 2.5 */
  height: 56.1655405405%;
  top: 40%;
}

#france:hover {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/franceDown.png');
}

#seAsia {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/seAsia.png');
  left: 70%;
  width: 15%;
  /* 15 * 613/408 * 2.5 */
  height: 56.3419117647%;
  top: 40%;
}

#seAsia:hover {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/seAsiaDown.png');
}

#peru {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/peru.png');
  left: 24%;
  width: 15%;
  /* 15 * 449/298 * 2.5 */
  height: 56.5016778523%;
  top: 40%;
}

#peru:hover {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/peruDown.png');
}

@media only screen and (max-width: 600px) {
  #map {
    padding-bottom: calc(60% + 32px);
  }

  #desktopMap {
    display: none;
  }

  #mobileMap {
    display: inline;
  }

  #detailPageTextContainer {
    width: 90%;
    margin: 3%;
  }

  #detailPageImageContainer {
    display: none;
  }

  .CountryButton {
    position: relative;
  }

  #iceland {
    left: 0;
    top: 5%;
    /* 90 * 472/327 * 0.6 */
    width: 77.9449541284%;
    height: 90%;
  }

  #uk {
    left: 0;
    top: 5%;
    /* 90 * 284/385 * 0.6 */
    width: 39.8337662338%;
    height: 90%;
  }
  
  #pnw {
    left: 0;
    top: 5%;
    /* 90 * 317/417 * 0.6 */
    width: 41.0503597122%;
    height: 90%;
  }
  
  #france {
    left: 0;
    top: 5%;
    /* 90 * 444/399 * 0.6 */
    width: 60.0902255639%;
    height: 90%;
  }
  
  #seAsia {
    left: 0;
    top: 5%;
    /* 90 * 408/613 * 0.6 */
    width: 35.9412724307%;
    height: 90%;
  }
  
  #peru {
    left: 0;
    top: 5%;
    /* 90 * 298/449 * 0.6 */
    width: 35.8396436526%;
    height: 90%;
  }
}

