#map {
  position: relative;
  width: 100%;
  height: 0px;
  padding-bottom: 50%;
  overflow: hidden;
  background-size: cover;
}

#desktopMap {
  display: block;
}

#mobileMap {
  display: none;
}

#mapOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(229, 229, 229, 1);
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

#mapDetailContainer {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
}

#detailPageTextContainerHeader {
  margin: 20px 20px;
}

#mapDetailPage {
  position: absolute;
  height: 100%;
  width: 100%;

  top: 100%;
  transition-property: top;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

#mapDetailBack:focus {
  outline: none;
}

#detailPageTextContainer {
  background-color: white;
  opacity: 0.7;

  display: flex;
  flex-direction: column;
  width: 50%;

  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 3%;
  min-width: 50%;

  padding: 0 12px;
}

#detailPageImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 40%;
}

#mapDetailBack {
  display: inline-block;
  position: absolute;
  top: calc(3% + 32px);
  right: calc(3% + 20px);
  height: 40px;
  width: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
}

#mapDetailBack img {
  display: block;
  height: 40px;
  width: 40px;
}

#detailPageImage {
  position: relative;
  min-height: 60%;
  width: 88%;
  left: 6%;
  background-color: #E5E5E5;
}

.slick-list {
  height: 100%;
}

.slick-list div {
  height: 100%;
}

.slick-slider {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 32px;
}

.CountryButton {
  position: absolute;
  background: none;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  color: white;
  transition-property: left right top bottom width height opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  outline: 0;
}

.CountryButton div {
  display: none;
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 2em;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #384B58;
  transition-property: div;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  padding: 4px;
}

.CountryButton:hover div {
  display: inline;
}

#iceland {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/iceland.png');
  left: 18%;
  width: 20%;
  /* 20 * 327/472 * 2 */
  height: 27.7118644068%;
  top: 2%;
}

#iceland:hover {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/icelandDown.png');
}

#uk {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/uk.png');
  left: 45%;
  width: 13%;
  /* 13 * 385/284 * 2 */
  height: 35.2464788732%;
  top: -2%;
}

#uk:hover {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/ukDown.png');
}

#pnw {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/washington.png');
  left: 5%;
  width: 14%;
  /* 14 * 437/562 * 2 */
  height: 21.7722419929%;
  top: 26%;
}

#pnw:hover {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/washingtonDown.png');
}

#westernEurope {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/westernEurope.png');
  left: 32%;
  width: 17%;
  /* 17 * 1179/1198 * 2 */
  height: 33.4607679466%;
  top: 25%;
}

#westernEurope:hover {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/westernEuropeDown.png');
}

#seAsia {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/seAsia.png');
  left: 47%;
  width: 36%;
  /* 36 * 814/1235 * 2 */
  height: 47.4558704453%;
  top: 20%;
}

#seAsia:hover {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/seAsiaDown.png');
}

#peru {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/peru.png');
  left: 5%;
  width: 12%;
  /* 12 * 405/305 * 2 */
  height: 31.868852459%;
  top: 58%;
}

#peru:hover {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/peruDown.png');
}

#nepal {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/nepal.png');
  left: 26%;
  width: 17%;
  /* 17 * 443/830 * 2 */
  height: 18.1469879518%;
  top: 74%;
}

#nepal:hover {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/nepalDown.png');
}

#sriLanka {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/sriLanka.png');
  left: 40%;
  width: 28%;
  /* 28 * 427/747 * 2 */
  height: 32.0107095047%;
  top: 58%;
}

#sriLanka:hover {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/sriLankaDown.png');
}

#mAndI {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/mAndI.png');
  left: 70%;
  width: 25%;
  /* 25 * 580/880 * 2 */
  height: 32.9545454545%;
  top: 58%;
}

#mAndI:hover {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/mAndIDown.png');
}

#bvi {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/bvi.png');
  left: 18%;
  width: 20%;
  /* 20 * 324/848 * 2 */
  height: 15.2830188679%;
  top: 53%;
}

#bvi:hover {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/bviDown.png');
}

#eastern {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/eastern.png');
  left: 73%;
  width: 25%;
  /* 25 * 2567/2137 * 2 */
  height: 60.0608329434%;
  top: 3%;
}

#eastern:hover {
  background-image: url('https://plivesey.github.io/world-of-wander-images/home/easternDown.png');
}

@media only screen and (max-width: 940px) {
  #detailPageTextContainer {
    width: 90%;
    margin: 3%;
  }

  #detailPageImageContainer {
    display: none;
  }

  #detailPageTextContainerHeader {
    margin: 10px 24px;
    font-size: 2em;
  }
}

@media only screen and (max-width: 600px) {
  #map {
    padding-bottom: calc(60% + 32px);
  }

  #desktopMap {
    display: none;
  }

  #mobileMap {
    display: inline;
  }

  .CountryButton {
    position: relative;
  }

  #mapDetailBack {
    display: inline-block;
    position: absolute;
    top: calc(3% + 16px);
    right: calc(3% + 16px);
    height: 30px;
    width: 30px;
  }

  #mapDetailBack img {
    height: 30px;
    width: 30px;
  }

  #iceland {
    left: 0;
    top: 5%;
    width: 100%;
    height: 90%;
  }

  #uk {
    left: 0;
    top: 5%;
    width: 100%;
    height: 90%;
  }
  
  #pnw {
    left: 0;
    top: 5%;
    width: 100%;
    height: 90%;
  }
  
  #westernEurope {
    left: 0;
    top: 5%;
    /* 90 * 1179/1198 * 0.6 */
    width: 53.143572621%;
    height: 90%;
  }
  
  #seAsia {
    left: 0;
    top: 5%;
    /* 90 * 814/1235 * 0.6 */
    width: 35.9412724307%;
    height: 90%;
  }
  
  #peru {
    left: 0;
    top: 5%;
    width: 100%;
    height: 90%;
  }

  #nepal {
    left: 0;
    top: 5%;
    /* 70 * 830/443 * 0.6 */
    width: 100%;
    height: 70%;
  }

  #sriLanka {
    left: 0;
    top: 5%;
    width: 100%;
    height: 90%;
  }

  #mAndI {
    left: 0;
    top: 5%;
    width: 100%;
    height: 90%;
  }

  #bvi {
    left: 0;
    top: 5%;
    width: 100%;
    height: 90%;
  }

  #eastern {
    left: 0;
    top: 5%;
    width: 100%;
    height: 90%;
  }
}

