#mainImage {
    position: absolute;
    background-color: #E5E5E5;
    width: 100%;
    height: 0px;
    padding-bottom: 40%;
    background-size: cover;
    background-position: center;
    top: 0;
}

#postContainer {
    position: relative;
    width: 100%;
    padding-top: 35%;
}

.postContent {
    padding: 20px 0;
}

.postLargeImage {
    width: 100%;
}

.postSubheader {
    margin: 0;
    padding: 40px 0 0 0;
}

.postDetailText {
    padding: 0px 0 20px 0;
}

#postContentContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    padding: 20px;
    width: 80%;
    max-width: 1000px;

    font-family: 'Roboto';
    text-align: left;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 1.2em;
    margin-bottom: 32px;
}

#backToAllPosts {
    text-decoration: none;
    color: black;
}

#postTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 3em;
    text-align: center;
    letter-spacing: 0.05em;
}

#postDateContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
}

@media only screen and (max-width: 600px) {
    .postContent {
        text-align: justify;
        text-justify: distribute;
    }
}
