#mainImage {
    position: absolute;
    background-color: #E5E5E5;
    width: 100%;
    height: 0px;
    padding-bottom: 40%;
    background-size: cover;
    background-position: center;
    top: 0;
}

#postContainer {
    position: relative;
    width: 100%;
    padding-top: 35%;
}

.postContent {
    padding: 0 0 40px 0;
}

.postLargeImage {
    width: 100%;
    background-color: #E5E5E5;
}

.postVerticalImageContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 8px;
}

.postVerticalImage {
    position: relative;
    width: calc(50% - 4px);
    height: 100%;
    object-fit: cover;
    background-color: #E5E5E5;
}

.postHeader {
    margin: 0;
    padding: 20px 0 20px 0;
    font-weight: 500;
}

.postSubheader {
    margin: 0;
    padding: 20px 0 40px 0;
    font-weight: 500;
}

.postDetailText {
    padding: 0px 0 20px 0;
    font-size: 0.8em;
    line-height: 1em;
}

#postContentContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    padding: 40px;
    width: 80%;
    max-width: 1000px;

    font-family: 'Roboto';
    text-align: left;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 1.2em;
    margin-bottom: 32px;
    line-height: 1.4em;
}

#backToAllPosts {
    text-decoration: none;
    color: black;
}

#postTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 3em;
    text-align: center;
    letter-spacing: 0.05em;
}

#postDateContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 52px;
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    #postDateContainer {
        font-size: 0.8em;
        margin-bottom: 32px;
    }

    #postTitle {
        font-size: 2em;
    }

    #postContentContainer {
        width: 100%;
        padding: 0 20px;
    }

    #mainImage {
        padding-bottom: 60%;
    }

    #postContainer {
        padding-top: 60%;
    }
}
