#footer {
  margin-top: 40px;
  background: #384B58;
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 1em;
  text-align: center;
  letter-spacing: 0.1em;
}

#instagramLink {
  text-decoration: none;
  color: white;
}

#instagramContainer {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 0 0 20px 0;
}

#footerText {
  padding: 20px;
}

.instragramFooterImage {
  width: 60px;
  height: 60px;
  background-color: #E5E5E5;
}
